
.nav_responsive{
    display: none;
}
.barra-navegacion{
	padding: 15px;
    margin: auto;
    display: flex;
    gap: 60px;
    border: 1px solid;
    justify-content: space-between;
	background-color: rgb(187, 197, 169);
}

@media (max-width: 1035px) {
    .barra-navegacion{
        gap: 10px;
    }
    
}
@media (max-width: 500px) {
    .nav_responsive{
        padding: 10px;
    margin-left: 0 68px;
    gap: 60px;
    border: 1px solid;
	display: flex;
    justify-content: space-between;
	background-color: rgb(187, 197, 169);
    }
    .nav_responsive svg{
        margin: auto;

    }
    .barra-navegacion{
        display: none;
    }
}