.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    position: static !important;
}
.cuerpo-dashboard{
    display: flex;
}
.parrafo{
    margin: 10px;
}

.line-grafica{
    background-color: beige;

}
.graficas{
    display: flex;
    gap: 10px;
}